<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   shopapp_production.entitlements
   shopapp

   Created by M.Amatani on 2016/11/02.
   Copyright (c) 2016年 Mobile Innovation. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
