<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>function_id</key>
	<string></string>
	<key>app_id</key>
	<string>1</string>
	<key>app_name</key>
	<string>Dalia</string>
	<key>template_type</key>
	<string>food</string>
	<key>top_image_type</key>
	<string>rectangular</string>
	<key>browser_key</key>
	<string></string>
</dict>
</plist>
